* {
  box-sizing: border-box;
}

body {
  background-color: #1B1A1B;
  color: #FFFFFF;
  margin: 0;
}

.about-blockquote {
  text-transform: uppercase;
}

.wrapper {
  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
  }

.menu-title, .menu-list, 
.section1-list, .section1-title,
.halls-list, .halls-title, .about-title, .about-text, .about-blockquote__cite, .about-blockquote__text,
.order-title, .review-title, .review-list, .review-user__text,
.contacts-title, .contacts-mail, .contacts-tel, .contacts-address,
.socials {
  margin: 0 auto;
}

.section1-features, .about-blockquote, .review-user {
  margin: 0;
}

.order-entertainment, .order-set, .order-halls, .order-games, .order-consoles, .order-calendar {
  border:none;
  padding:0;
  margin:0;
}

.section1-list, .review-list, .menu-list, .socials, .halls-list {
  margin-left: 0;
  padding-left: 0;
}

.section1-item, .menu-item, .halls-item, .review-item, .socials-item {
  list-style-type: none;
}

